@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body {
  background-color: #333666;
  font-family: 'Source Sans Pro', sans-serif;
}

.keys {
  margin-top: 40vh;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  justify-content: center;
}

.key {
  display: flex;
  flex-direction: column;
  border: 1px solid #33cdac;
  margin-right: 10px;
  padding-top: 20px;
  width: 80px;
  height: 60px;
  align-items: center;
  color: #33cdac;
  transition: all 0.3s;
}

.key:hover {
  cursor: pointer;
}

.sound {
  font-size: 10px;
  text-transform: uppercase;
}

.playing {
  transform: scale(1.05);
  color: #200400;
  background-color: #33cdac;
  border: 1px solid #200400;
}
